main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 98vw;
    height: 97vh;
}

section{
    display: flex;
    flex-direction: row;
}

header{
    margin: 10%;
}

aside{
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 3%;
}

footer{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.footerBase{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 2vh;
}
