h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1877f2;
    font-size:7vh;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
}

input:nth-child(3) {
    font-size: large;
    color: white;
}

  input:nth-child(4) {
    color: #2f84f3;
}

  input:nth-child(5) {
    color: white;
}

  .languages ul li,.baglantilar ul li,.copyrigt p{
    font-size: 2vh;
}